<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <form #categoriasForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="categoria.nombre" name="nombre" #nombre="ngModel"/> <!--codigo para validar desde el front /- required minlength="4"-/ -->
                    
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre debe contener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!categoria.id_categoria else elseBlock" [disabled]="!categoriasForm.form.valid">Crear</button>
                
                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!categoriasForm.form.valid">Editar</button>
                </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>